/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Nunito:wght@400;600;700;800&display=swap');
/* font-family: 'Handlee', cursive;
font-family: 'Nunito', sans-serif; */
/* common start */
body{
    margin: 0px;
}
.container-fluid{
    width: 100%;
}
.container{
    width: 90%;
    margin: 0px auto;
    display: flex;
}
.title{
    color: #17A2B8;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}
.sub-title{
    color: #06394E;
    margin: 0px;
    font-family: 'Handlee', cursive;
}
.article{
    color: #666;
    font-weight: 600;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}
.rounded{
    border-radius: 10px;
}
img{
    width: 100%;
}
.btn{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    background-color: #138496;
    border-color: #138496;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    margin: 20px 0px 0px 0px;
    padding: 15px 30px;
    border-radius: 30px;
    /* width: 20%; */
    text-align: center;
}
.btn:hover{
    background: #00394f;
    border-color: #00394f;
}
.d-block{
    display: block;
}
/* common end */
/* nav area start */
nav{
    background: #F8F9FA;
    padding: 10px 0px;
}
nav > .container{
    justify-content: space-between;
}
/* logo start */
.logo a{
    font-size: 46px;
    font-weight: 800;
    color: #29A2B7;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}
.logo i{
    color: #000;
}
.logo span{
    margin-left: 20px;
}
.logo a:hover i{
    text-shadow: 0px 2px 3px #29A2B7;
}
/* logo end */
/* navbar start */
.navbar {
    display: flex;
    align-items: center;
}
.navbar ul{
    margin: 0px;
    padding: 0px;
    display: flex;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    margin: 0px 5px;
    padding: 8px 10px;
}
.navbar ul li a:hover{
    color: #29A2B7;
}
.navbar ul li:last-child a{
    color: #fff;
    background: #29A2B7;
    padding: 8px 30px;
    border-radius: 20px;
}
.navbar ul li:last-child a:hover{
    background: #277e8d;
}
/* dropdown start */
.navbar ul li.dropdown{
    position: relative;
}
.navbar ul li ul{
    text-align: left;
    position: absolute;
    display: none;
}
.navbar ul li:hover ul {
    display: block;
}
.navbar ul li ul li{
    display: block;
}
.navbar ul li ul li a{
    color: #fff;
    background: #3a96a7;
    display: block;
    margin: 2px 0px;
    padding: 8px 30px;
}
.navbar ul li ul li:hover a{
    color: #fff;
    background: #277e8d;
}
.navbar ul li ul li:last-child a{
    background: #3a96a7;
    display: block;
    margin: 2px 0px;
    color: #fff;
    padding: 8px 30px;
    border-radius: 0px;
}
/* dropdown end */
/* .navbar area end */
/* nav end */

/* header start */
header{
    background: #3a96a7;
    padding: 30px 0px 0px 0px;
}
.header-content{
    width: 50%;
    color: #fff;
    font-family: 'Handlee', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-content h1{
    font-size: 70px;
    margin: 20px 0px;
}
.header-content h2{
    font-size: 30px;
    margin: 0px;
}
.header-content p{
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}
.header-content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    background-color: #00394f;
    border-color: #00394f;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    margin: 20px 0px 0px 0px;
    padding: 15px 30px;
    border-radius: 30px;
    width: 20%;
    text-align: center;
}
.header-banner{
    width: 50%;
}
.header-banner img{
    width: 100%;
}
/* header end */

/* services start */
.services{
    background: #fff;
    padding: 70px 0px;
}
.services .services-inner{
    flex-wrap: wrap;
    justify-content: space-between;
}
.services .card{
    display: flex;
    background: #F8F9FA;
    padding: 20px 30px;    
    width: 25%;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0px 3px 3px #929da8;
}
.card-logo {
    padding-right: 20px;
    color: #29A2B7;
}
.services .card h2{
    color: #06394E;
    margin: 0px;
    font-family: 'Handlee', cursive;
}
.services .card p{
    color: #666;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}
/* services end */

/* about-us start  */
.about-us{
    padding-bottom: 70px;
}
.about-us .about-us-poster{
    width: 40%;
}
.about-us .about-us-content{
    width: 60%;
    padding: 0px 0px 0px 20px;  
    align-self: center; 
}
.about-us .about-us-content h2{
    font-size: 40px;
    margin: 20px 0px;
}
.about-us .about-us-content p{
    margin-bottom: 20PX;
}
.about-content-footer{
    display: flex;
}
.about-footer-poster{
    width: 30%;
}
.about-footer-content{
    width: 70%;
}
.about-footer-content ul{
    margin: 0px;
}
.about-footer-content li{
    color: #666;
    padding: 10px 0px;
    font-weight: 600;
    list-style: none;
    border-top: 1px solid #dee2e6;
    font-family: 'Nunito', sans-serif;
}
.about-footer-content li:last-child{
    border-bottom: 1px solid #dee2e6;
}
.about-footer-content i{
    color: #29A2B7;
    margin-right: 10px;
    font-weight: 600;
}

/* about-us end  */

/* booking area start  */
.booking-area{
    padding-bottom: 70px;
}
.booking-content{
    width: 60%;
}
.booking-form{
    width: 40%;
}
.booking-form .sub-title{
    background: #06394E;
    color: #fff;
    padding: 30px;
    font-size: 40px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}
.booking-form form{
    background: #29A2B7;
    padding: 40px;
    border-radius: 0px 0px 10px 10px;
}
.booking-form form input.input-field{
    width: 90%;
}
.booking-form form .input-field{
    color: #666;
    font-weight: 600;
    padding: 20px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}
.booking-form form .input-field.btn{
    background: #06394E;
    color: #fff;
    cursor: pointer;
}
/* booking area end  */